@charset "UTF-8";
html,body,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,div,span
{
	border: 0;
	font-size: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
ol,ul
{
	list-style: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th,td
{
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
q,blockquote
{
	quotes: none;
}
q:before,q:after,blockquote:before,blockquote:after
{
	content: "";
	content: none;
}
a img
{
	border: none;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
{
	display: block;
}
img
{
	image-rendering: optimizeQuality;
	ms-interpolation-mode: bicubic;
}
.museo-font,.small-caps-museo,.feedback-anchor .send-feedback,.h4,h4,a.h4,.button-base,.button,.button-on-hover:hover,.button-on-hover,input.fill-in,.autocomplete .autocomplete-section-divider,.overlay .message,.topbar-link-style,.topbar ul.nav-popup>li a,.topbar .popup.top a,.topbar-link,.topbar-button.naked,.is-desktop .popup.top.topbar-group-popup .inside .topbar-button.group-popup-zero-create:hover,.location-banner,h1,h2,h3,h5,section.recent-group-activity ul li span.topic,.drawer section.recent-branches li.branch span.topic,section.recent-group-activity ul li .group-name,.drawer section.recent-branches li.branch .group-name,.overlay#signup-overlay .signup-context .which-step-header,.overlay.mobile-open-safari-overlay .popup,.new-splash .success,.overlay.user-card-overlay .user-card-info .user-card-name,.overlay.user-card-overlay .user-card-info ul.user-card-contact-info .more-groups,.overlay.user-card-overlay .user-card-content .user-card-friends ul li.user-card-friend .user-card-friend-name,.overlay.user-card-overlay .user-card-content .user-card-branches ul li.branch .topic
{
	font-family: "MuseoSans", 'Helvetica Neue', Arial;
}
.underliner,.attachment .host,.attachment.branch .show-more,.feed-item.invitation a,.text a,.inline-link,ul.bulletless-list a,.drawer.show-all-branches section.header h4 span.unread-branches,.drawer.show-unread-branches section.header h4 span.all-branches,.iframe .forgot-password a
{
	border-bottom: 1px dotted #ccc;
	cursor: pointer;
	text-decoration: none;
}
.is-desktop .underliner:hover,.is-desktop .attachment .host:hover,.attachment .is-desktop .host:hover,.is-desktop .attachment.branch .show-more:hover,.attachment.branch .is-desktop .show-more:hover,.is-desktop .feed-item.invitation a:hover,.feed-item.invitation .is-desktop a:hover,.is-desktop .text a:hover,.text .is-desktop a:hover,.is-desktop .inline-link:hover,.is-desktop ul.bulletless-list a:hover,ul.bulletless-list .is-desktop a:hover,.is-desktop .drawer.show-all-branches section.header h4 span.unread-branches:hover,.drawer.show-all-branches section.header h4 .is-desktop span.unread-branches:hover,.is-desktop .drawer.show-unread-branches section.header h4 span.all-branches:hover,.drawer.show-unread-branches section.header h4 .is-desktop span.all-branches:hover,.is-desktop .iframe .forgot-password a:hover,.iframe .forgot-password .is-desktop a:hover
{
	border-bottom-style: solid;
}
.is-mobile .underliner:active,.is-mobile .attachment .host:active,.attachment .is-mobile .host:active,.is-mobile .attachment.branch .show-more:active,.attachment.branch .is-mobile .show-more:active,.is-mobile .feed-item.invitation a:active,.feed-item.invitation .is-mobile a:active,.is-mobile .text a:active,.text .is-mobile a:active,.is-mobile .inline-link:active,.is-mobile ul.bulletless-list a:active,ul.bulletless-list .is-mobile a:active,.is-mobile .drawer.show-all-branches section.header h4 span.unread-branches:active,.drawer.show-all-branches section.header h4 .is-mobile span.unread-branches:active,.is-mobile .drawer.show-unread-branches section.header h4 span.all-branches:active,.drawer.show-unread-branches section.header h4 .is-mobile span.all-branches:active,.is-mobile .iframe .forgot-password a:active,.iframe .forgot-password .is-mobile a:active
{
	border-bottom-style: solid;
}
.underliner-nohover
{
	border-bottom: 1px dotted #ccc;
	cursor: pointer;
	text-decoration: none;
}
.underline-static,.post .body>a:hover ~ .content .name
{
	border-bottom: 1px solid #ccc;
}
.small-caps-museo,.feedback-anchor .send-feedback,.h4,h4,a.h4
{
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
}
.wide-title
{
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,0.1),0 -2px 3px rgba(255,255,255,0.1);
}
.is-desktop .classic-underline-on-hover:hover,.is-desktop .footer-contents .right a:hover,.footer-contents .right .is-desktop a:hover,.is-desktop .footer-contents .right .fake-link:hover,.footer-contents .right .is-desktop .fake-link:hover,.is-desktop .attachment.branch .name:hover,.attachment.branch .is-desktop .name:hover,.is-desktop .attachment.branch .handle:hover,.attachment.branch .is-desktop .handle:hover,.is-desktop .attachment.branch .body .text a:hover,.attachment.branch .body .text .is-desktop a:hover,.is-desktop .attachment.tweet .name:hover,.attachment.tweet .is-desktop .name:hover,.is-desktop .attachment.tweet .handle:hover,.attachment.tweet .is-desktop .handle:hover,.is-desktop .attachment.tweet .body .text a:hover,.attachment.tweet .body .text .is-desktop a:hover,.is-desktop .overlay.user-card-overlay .user-card-info ul.user-card-contact-info a:hover,.overlay.user-card-overlay .user-card-info ul.user-card-contact-info .is-desktop a:hover
{
	text-decoration: underline;
}
.is-desktop .underline-on-hover:hover
{
	border-bottom: 1px dotted #d2cfc9;
}
@media (max-width: 600px)
{
	.container-mobile-expand
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
i,.icon-before:before,span.avatar:before,.button-on-hover.naked.twitter:before,.send-to-twitter.checked label .button-on-hover.naked.tweet-button:before,.send-to-twitter.checked label .is-desktop .popup.top.topbar-group-popup .inside .button-on-hover.tweet-button.group-popup-zero-create:hover:before,.is-desktop .popup.top.topbar-group-popup .inside .send-to-twitter.checked label .button-on-hover.tweet-button.group-popup-zero-create:hover:before,.is-desktop .popup.top.topbar-group-popup .inside .button-on-hover.twitter.group-popup-zero-create:hover:before,.button.twitter:before,.send-to-twitter.checked label .button.tweet-button:before,.fields .error:before,.input.search:before,.autocomplete li .method:before,.editable.photo .content:before,.twitter-bird:before,.icon-after:after
{
	font-family: 'Branch';
	font-style: normal;
}
i
{
	font-size: 16px;
}
.box,.input.boxed:focus,.input.boxed:focus:hover,.input.boxed.force-focus,.autocomplete .autocomplete-list,.post>.inside,.user-list-overlay ul.list-people,.branch-cards .card,.overlay.user-card-overlay .user-card-content .user-card-branches ul li.branch,.overlay.user-card-overlay .user-card-content li.user-card-zero-state
{
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ebeae5 #e0dfdc #dbdad7;
	border-radius: 5px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	moz-border-radius: 5px;
	moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	ms-border-radius: 5px;
	ms-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	o-border-radius: 5px;
	o-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	webkit-border-radius: 5px;
	webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
}
.box-dark
{
	background-color: #f2f0eb;
	border: 1px solid #d2cfc9;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 0 #fff;
	moz-border-radius: 5px;
	moz-box-shadow: 1px 1px 1px 0 #fff;
	ms-border-radius: 5px;
	ms-box-shadow: 1px 1px 1px 0 #fff;
	o-border-radius: 5px;
	o-box-shadow: 1px 1px 1px 0 #fff;
	webkit-border-radius: 5px;
	webkit-box-shadow: 1px 1px 1px 0 #fff;
}
.posts-line
{
	background: url(//d3sipcemvmkij2.cloudfront.net/assets/ui/timeline-291d6dc019004de42ccd0921075240f2.png) repeat-y 41px 0;
	clear: both;
}
@media (max-width: 600px)
{
	.branch-com .posts-line
	{
		background-position: 23px 0;
	}
}
.white-soft,.error-overlay .art,.paywall-overlay i
{
	color: white;
	text-shadow: rgba(0,0,0,0.1) 0 -1px 3px;
}
.grey-icon-on-white
{
	color: #efede8;
	text-shadow: rgba(0,0,0,0.2) -1px -1px 0px;
}
.sprite-image,.arrow,.logotype-240,.logotype,.logotype-60,.popup .arrow
{
	background-image: url(//d3sipcemvmkij2.cloudfront.net/assets/ui/sprite-94f7fb80092390c041754d5fed79dd32.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi)
{
	.sprite-image,.arrow,.logotype-240,.logotype,.logotype-60,.popup .arrow
	{
		background-image: url(//d3sipcemvmkij2.cloudfront.net/assets/ui/sprite@2x-e8bcf319fa3176d61dd9347cbfe1621a.png);
		background-size: 300px 300px;
	}
}
.inset
{
	background: #f2f0eb;
	border: 1px solid #ebeae5;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 #fff;
	moz-border-radius: 5px;
	moz-box-shadow: 1px 1px 0 0 #fff;
	ms-border-radius: 5px;
	ms-box-shadow: 1px 1px 0 0 #fff;
	o-border-radius: 5px;
	o-box-shadow: 1px 1px 0 0 #fff;
	webkit-border-radius: 5px;
	webkit-box-shadow: 1px 1px 0 0 #fff;
}
.spanning-banner
{
	border-bottom: 1px solid #ebeae5;
	border-top: 1px solid #ebeae5;
	box-shadow: rgba(0,0,0,0.02) 0 3px 5px;
}
.spanning-banner .container
{
	padding-bottom: 40px;
	padding-top: 40px;
}
.spanning-banner .close
{
	float: right;
	font-size: 20px;
	line-height: 12px;
	margin: -15px -10px -10px;
	padding: 10px;
}
.clear,.box-dark,.posts-line,.fields>li,.stacked-buttons,.stacked-form,.autocomplete li,.container,.master-container,.pagination,.post,.profile,.user-list-overlay .list-person,.drawer section.header,.branch-cards .card .title,.branch-cards .card .title h3,.branch-cards .card .cta-container,.signup-forms ul.use-email-has-password,.signup-forms-styles-for-iframe ul.use-email-has-password,.overlay.user-card-overlay .user-card-content,.overlay.user-card-overlay .user-card-content .user-card-friends ul li.user-card-friend
{
	zoom: 1;
}
.clear:before,.box-dark:before,.posts-line:before,.fields>li:before,.stacked-buttons:before,.stacked-form:before,.autocomplete li:before,.container:before,.master-container:before,.pagination:before,.post:before,.profile:before,.user-list-overlay .list-person:before,.drawer section.header:before,.branch-cards .card .title:before,.branch-cards .card .title h3:before,.branch-cards .card .cta-container:before,.signup-forms ul.use-email-has-password:before,.signup-forms-styles-for-iframe ul.use-email-has-password:before,.overlay.user-card-overlay .user-card-content:before,.overlay.user-card-overlay .user-card-content .user-card-friends ul li.user-card-friend:before,.clear:after,.box-dark:after,.posts-line:after,.fields>li:after,.stacked-buttons:after,.stacked-form:after,.autocomplete li:after,.container:after,.master-container:after,.pagination:after,.post:after,.profile:after,.user-list-overlay .list-person:after,.drawer section.header:after,.branch-cards .card .title:after,.branch-cards .card .title h3:after,.branch-cards .card .cta-container:after,.signup-forms ul.use-email-has-password:after,.signup-forms-styles-for-iframe ul.use-email-has-password:after,.overlay.user-card-overlay .user-card-content:after,.overlay.user-card-overlay .user-card-content .user-card-friends ul li.user-card-friend:after
{
	content: "";
	display: table;
}
.clear:after,.box-dark:after,.posts-line:after,.fields>li:after,.stacked-buttons:after,.stacked-form:after,.autocomplete li:after,.container:after,.master-container:after,.pagination:after,.post:after,.profile:after,.user-list-overlay .list-person:after,.drawer section.header:after,.branch-cards .card .title:after,.branch-cards .card .title h3:after,.branch-cards .card .cta-container:after,.signup-forms ul.use-email-has-password:after,.signup-forms-styles-for-iframe ul.use-email-has-password:after,.overlay.user-card-overlay .user-card-content:after,.overlay.user-card-overlay .user-card-content .user-card-friends ul li.user-card-friend:after
{
	clear: both;
}
.cover
{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
.border-box-sizing,.button-base,.button,.button-on-hover:hover,.button-on-hover,.input,.popup.top.topbar-group-popup .inside .group-popup-zero-create,section.recent-group-activity ul li,.drawer section.recent-branches li.branch,.branch-cards .card .cta-container
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.user-select-none,.button-base,.button,.button-on-hover:hover,.button-on-hover,.placeholder-anchor .placeholder
{
	moz-user-select: none;
	ms-user-select: none;
	o-user-select: none;
	user-select: none;
	webkit-user-select: none;
}
.show-grid
{
	display: none;
}
.show-grid:after
{
	background: linear-gradient(0,#000 60px,transparent 60px);
	background: -moz-linear-gradient(0,#000 60px,transparent 60px);
	background: -ms-linear-gradient(0,#000 60px,transparent 60px);
	background: -o-linear-gradient(0,#000 60px,transparent 60px);
	background: -webkit-linear-gradient(0,#000 60px,transparent 60px);
	background-position: 20px 0;
	background-size: 80px;
	bottom: 0;
	content: ' ';
	opacity: 0.1;
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.slide-in,.area-under-post
{
	height: 0;
	moz-transition: height 0.15s ease-out;
	ms-transition: height 0.15s ease-out;
	o-transition: height 0.15s ease-out;
	overflow: hidden;
	transition: height 0.15s ease-out;
	webkit-transition: height 0.15s ease-out;
}
.slide-fade-in,.feedback-anchor .feedback-container .actions
{
	height: 0;
	moz-transition-duration: 0.15s;
	moz-transition-property: height,opacity;
	moz-transition-timing-function: ease-out;
	ms-transition-duration: 0.15s;
	ms-transition-property: height,opacity;
	ms-transition-timing-function: ease-out;
	opacity: 0;
	o-transition-duration: 0.15s;
	o-transition-property: height,opacity;
	o-transition-timing-function: ease-out;
	overflow: hidden;
	transition-duration: 0.15s;
	transition-property: height opacity;
	transition-timing-function: ease-out;
	webkit-transition-duration: 0.15s;
	webkit-transition-property: height,opacity;
	webkit-transition-timing-function: ease-out;
}
.inset-box,.input
{
	background-color: #fff;
	border: 1px solid #ddd;
	border-color: #d2d1cd #dcdbd7 #e6e5e0;
	border-radius: 3px;
	box-shadow: rgba(255,255,255,0) 0 0 1px 0,#dcdbd7 0 1px 1px inset,#fff 0 1px 0 0;
	moz-border-radius: 3px;
	moz-box-shadow: rgba(255,255,255,0) 0 0 1px 0,#dcdbd7 0 1px 1px inset,#fff 0 1px 0 0;
	ms-border-radius: 3px;
	ms-box-shadow: rgba(255,255,255,0) 0 0 1px 0,#dcdbd7 0 1px 1px inset,#fff 0 1px 0 0;
	o-border-radius: 3px;
	o-box-shadow: rgba(255,255,255,0) 0 0 1px 0,#dcdbd7 0 1px 1px inset,#fff 0 1px 0 0;
	webkit-border-radius: 3px;
	webkit-box-shadow: rgba(255,255,255,0) 0 0 1px 0,#dcdbd7 0 1px 1px inset,#fff 0 1px 0 0;
}
.divider
{
	border-top: 1px solid rgba(0,0,0,0.03);
	box-shadow: #fff 0 1px 1px 0 inset;
	moz-box-shadow: #fff 0 1px 1px 0 inset;
	ms-box-shadow: #fff 0 1px 1px 0 inset;
	o-box-shadow: #fff 0 1px 1px 0 inset;
	webkit-box-shadow: #fff 0 1px 1px 0 inset;
}
.hidden
{
	display: none !important;
}
.invalid-border,.input.invalid,.invalid .input,.post.invalid .inside
{
	border: 1px solid #e00 !important;
	border-color: rgba(238,0,0,0.8) !important;
}
.hidden-datafield
{
	position: absolute;
	top: -9999em;
}
.position-anchor
{
	position: relative;
}
abbr.timeago
{
	display: none;
}
.for-mac,.for-webkit,.for-mozilla
{
	display: none;
}
html.webkit .for-webkit,html.mozilla .for-mozilla,html.mac .for-mac
{
	display: inline-block;
}
html.mac .for-pc
{
	display: none;
}
.for-mobile
{
	display: none;
}
.for-desktop
{
	display: inline-block;
}
@media (max-width: 600px)
{
	.for-desktop
	{
		display: none;
	}
	.for-mobile
	{
		display: inline-block;
	}
	.inline .for-mobile
	{
		display: inline;
	}
}
@-webkit-keyframes progress-bar-stripes
{
	from
	{
		background-position: 0 0;
	}
	to
	{
		background-position: 40px 0;
	}
}
@-moz-keyframes progress-bar-stripes
{
	from
	{
		background-position: 0 0;
	}
	to
	{
		background-position: 40px 0;
	}
}
@keyframes progress-bar-stripes
{
	from
	{
		background-position: 0 0;
	}
	to
	{
		background-position: 40px 0;
	}
}
@-webkit-keyframes rotateit
{
	from
	{
		webkit-transform: rotate(360deg);
	}
	to
	{
		webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes rotateit
{
	from
	{
		moz-transform: rotate(360deg);
	}
	to
	{
		moz-transform: rotate(0deg);
	}
}
@keyframes rotateit
{
	from
	{
		transform: rotate(360deg);
	}
	to
	{
		transform: rotate(0deg);
	}
}
@-webkit-keyframes shake
{
	0%,41%
	{
		webkit-transform: translateX(0);
	}
	15%
	{
		webkit-transform: translateX(-2px);
	}
	25%
	{
		webkit-transform: translateX(3px);
	}
	34%
	{
		webkit-transform: translateX(-3px);
	}
}
@-moz-keyframes shake
{
	0%,41%
	{
		moz-transform: translateX(0);
	}
	15%
	{
		moz-transform: translateX(-2px);
	}
	25%
	{
		moz-transform: translateX(3px);
	}
	34%
	{
		moz-transform: translateX(-3px);
	}
}
@-o-keyframes shake
{
	0%,41%
	{
		o-transform: translateX(0);
	}
	15%
	{
		o-transform: translateX(-2px);
	}
	25%
	{
		o-transform: translateX(3px);
	}
	34%
	{
		o-transform: translateX(-3px);
	}
}
@keyframes shake
{
	0%,41%
	{
		transform: translateX(0);
	}
	15%
	{
		transform: translateX(-2px);
	}
	25%
	{
		transform: translateX(3px);
	}
	34%
	{
		transform: translateX(-3px);
	}
}
@-webkit-keyframes shakey
{
	0%,41%
	{
		webkit-transform: translateY(0);
	}
	15%
	{
		webkit-transform: translateY(-5px);
	}
	25%
	{
		webkit-transform: translateY(0);
	}
	34%
	{
		webkit-transform: translateY(-4px);
	}
}
@-moz-keyframes shakey
{
	0%,41%
	{
		moz-transform: translateY(0);
	}
	15%
	{
		moz-transform: translateY(-5px);
	}
	25%
	{
		moz-transform: translateY(0);
	}
	34%
	{
		moz-transform: translateY(-4px);
	}
}
@-o-keyframes shakey
{
	0%,41%
	{
		o-transform: translateY(0);
	}
	15%
	{
		o-transform: translateY(-5px);
	}
	25%
	{
		o-transform: translateY(0);
	}
	34%
	{
		o-transform: translateY(-4px);
	}
}
@keyframes shakey
{
	0%,41%
	{
		transform: translateY(0);
	}
	15%
	{
		transform: translateY(-5px);
	}
	25%
	{
		transform: translateY(0);
	}
	34%
	{
		transform: translateY(-4px);
	}
}
@-webkit-keyframes pop
{
	0%
	{
		webkit-transform: scale(1, 1);
	}
	50%
	{
		webkit-transform: scale(1.1, 1.1);
	}
	100%
	{
		webkit-transform: scale(1, 1);
	}
}
@-moz-keyframes pop
{
	0%
	{
		moz-transform: scale(1, 1);
	}
	50%
	{
		moz-transform: scale(1.1, 1.1);
	}
	100%
	{
		moz-transform: scale(1, 1);
	}
}
@-o-keyframes pop
{
	0%
	{
		o-transform: scale(1, 1);
	}
	50%
	{
		o-transform: scale(1.1, 1.1);
	}
	100%
	{
		o-transform: scale(1, 1);
	}
}
@keyframes pop
{
	0%
	{
		transform: scale(1, 1);
	}
	50%
	{
		transform: scale(1.1, 1.1);
	}
	100%
	{
		transform: scale(1, 1);
	}
}
@-webkit-keyframes pulsate
{
	0%
	{
		opacity: 1.0;
		webkit-transform: scale(0.001, 0.001);
	}
	65%
	{
		opacity: 1.0;
	}
	80%
	{
		opacity: 0.0;
		webkit-transform: scale(1.3, 1.3);
	}
	100%
	{
		opacity: 0.0;
		webkit-transform: scale(0.1, 0.1);
	}
}
@-moz-keyframes pulsate
{
	0%
	{
		moz-transform: scale(0.001, 0.001);
		opacity: 1.0;
	}
	65%
	{
		opacity: 1.0;
	}
	80%
	{
		moz-transform: scale(1.3, 1.3);
		opacity: 0.0;
	}
	100%
	{
		moz-transform: scale(0.1, 0.1);
		opacity: 0.0;
	}
}
@-o-keyframes pulsate
{
	0%
	{
		opacity: 1.0;
		o-transform: scale(0.001, 0.001);
	}
	65%
	{
		opacity: 1.0;
	}
	80%
	{
		opacity: 0.0;
		o-transform: scale(1.3, 1.3);
	}
	100%
	{
		opacity: 0.0;
		o-transform: scale(0.1, 0.1);
	}
}
@keyframes pulsate
{
	0%
	{
		opacity: 1.0;
		transform: scale(0.001, 0.001);
	}
	65%
	{
		opacity: 1.0;
	}
	80%
	{
		opacity: 0.0;
		transform: scale(1.3, 1.3);
	}
	100%
	{
		opacity: 0.0;
		transform: scale(0.1, 0.1);
	}
}
@-webkit-keyframes flash-highlight
{
	0%
	{
		background-color: #fc0;
	}
	100%
	{
		background-color: #fff9e0;
	}
}
.pulsate-ring
{
	animation: pulsate 3s ease-out infinite;
	border: 1px solid #c1e8ff;
	border-radius: 60px;
	box-shadow: #ade1ff 0 0 5px 2px,#ade1ff 0 0 5px 2px inset;
	height: 60px;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	moz-animation: pulsate 3s ease-out infinite;
	moz-border-radius: 60px;
	moz-box-shadow: #ade1ff 0 0 5px 2px,#ade1ff 0 0 5px 2px inset;
	ms-animation: pulsate 3s ease-out infinite;
	ms-border-radius: 60px;
	ms-box-shadow: #ade1ff 0 0 5px 2px,#ade1ff 0 0 5px 2px inset;
	o-animation: pulsate 3s ease-out infinite;
	o-border-radius: 60px;
	o-box-shadow: #ade1ff 0 0 5px 2px,#ade1ff 0 0 5px 2px inset;
	opacity: 0;
	position: absolute;
	top: 50%;
	webkit-animation: pulsate 3s ease-out infinite;
	webkit-border-radius: 60px;
	webkit-box-shadow: #ade1ff 0 0 5px 2px,#ade1ff 0 0 5px 2px inset;
	width: 60px;
}
.arrow.out
{
	background-position: -60px 0;
	height: 15px;
	width: 24px;
}
.arrow.in
{
	background-position: -11px 0;
	height: 18px;
	width: 28px;
}
.arrow-right,.popup.right .arrow
{
	background-position: -135px -61px;
	height: 20px;
	width: 10px;
}
.arrow-right-dark,.popup.popup-dark.right>.arrow
{
	background-position: -185px -61px;
	height: 20px;
	width: 10px;
}
.arrow-right-small,.popup.right.small>.arrow
{
	background-position: -139px -67px;
	height: 9px;
	width: 5px;
}
.arrow-right-small-dark,.popup.popup-dark.right.small>.arrow
{
	background-position: -189px -67px;
	height: 9px;
	width: 5px;
}
.arrow-left,.popup.left .arrow
{
	background-position: -97px -61px;
	height: 20px;
	width: 10px;
}
.arrow-left-dark,.popup.popup-dark.left>.arrow
{
	background-position: -147px -61px;
	height: 20px;
	width: 10px;
}
.arrow-left-small,.popup.left.small>.arrow
{
	background-position: -97px -67px;
	height: 9px;
	width: 5px;
}
.arrow-left-small-dark,.popup.popup-dark.left.small>.arrow
{
	background-position: -147px -67px;
	height: 9px;
	width: 5px;
}
.arrow-down,.popup.bottom .arrow
{
	background-position: -111px -85px;
	height: 10px;
	width: 20px;
}
.arrow-down-dark,.popup.popup-dark.bottom>.arrow
{
	background-position: -161px -85px;
	height: 10px;
	width: 20px;
}
.arrow-down-small,.popup.bottom.small .arrow
{
	background-position: -111px -90px;
	height: 7px;
	width: 20px;
}
.arrow-down-small-dark,.popup.popup-dark.bottom.small>.arrow
{
	background-position: -161px -90px;
	height: 7px;
	width: 20px;
}
.arrow-up,.popup.top .arrow
{
	background-position: -111px -48px;
	height: 10px;
	width: 20px;
}
.arrow-up-dark,.popup.popup-dark.top>.arrow
{
	background-position: -161px -48px;
	height: 10px;
	width: 20px;
}
.arrow-up-small,.popup.top.small .arrow
{
	background-position: -113px -48px;
	height: 7px;
	width: 14px;
}
.arrow-up-small-dark,.popup.popup-dark.top.small>.arrow
{
	background-position: -163px -48px;
	height: 7px;
	width: 14px;
}
.arrow-right-dark,.popup.popup-dark.right>.arrow,.arrow-right-small-dark,.popup.popup-dark.right.small>.arrow,.arrow-left-dark,.popup.popup-dark.left>.arrow,.arrow-left-small-dark,.popup.popup-dark.left.small>.arrow,.arrow-down-dark,.popup.popup-dark.bottom>.arrow,.arrow-down-small-dark,.popup.popup-dark.bottom.small>.arrow,.arrow-up-dark,.popup.popup-dark.top>.arrow,.arrow-up-small-dark,.popup.popup-dark.top.small>.arrow
{
	opacity: 0.6;
}
.avatar
{
	display: inline-block;
}
img.avatar
{
	background-image: none;
	border-radius: 3px;
	box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
	font-size: 0 !important;
	moz-border-radius: 3px;
	moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
	ms-border-radius: 3px;
	ms-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
	o-border-radius: 3px;
	o-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
	webkit-border-radius: 3px;
	webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
}
span.avatar
{
	color: #e7e6e3;
	color: rgba(0,0,0,0.1);
	line-height: 1;
}
.avatar
{
	font-size: 48px;
	height: 48px;
	width: 48px;
}
.avatar.mini
{
	font-size: 16px;
	height: 16px;
	width: 16px;
}
.avatar.a20
{
	font-size: 20px;
	height: 20px;
	width: 20px;
}
.avatar.a24
{
	font-size: 24px;
	height: 24px;
	width: 24px;
}
.avatar.mid
{
	font-size: 32px;
	height: 32px;
	width: 32px;
}
.avatar.large
{
	font-size: 73px;
	height: 73px;
	width: 73px;
}
.avatar.auto
{
	height: auto;
	width: auto;
}
.avatar.mini
{
	vertical-align: top;
}
img.avatar.mini
{
	box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
	moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
	ms-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
	o-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
	webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
}
.above-content
{
	position: relative;
}
.above-content:after
{
	background: linear-gradient(top,rgba(0,0,0,0.05),rgba(0,0,0,0));
	background: -moz-linear-gradient(top,rgba(0,0,0,0.05),rgba(0,0,0,0));
	background: -ms-linear-gradient(top,rgba(0,0,0,0.05),rgba(0,0,0,0));
	background: -o-linear-gradient(top,rgba(0,0,0,0.05),rgba(0,0,0,0));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.05),rgba(0,0,0,0));
	content: ' ';
	height: 5px;
	left: 0px;
	position: absolute;
	right: 0;
	top: 0px;
}
.banner
{
	background: #f2f0eb;
	border-bottom: 1px solid;
	border-color: #ebeae5 #e0dfdc #dbdad7;
	border-top: 1px solid #d2cfc9;
	box-shadow: #fff 0 1px 1px,rgba(0,0,0,0.05) 0 -2px 2px inset;
	moz-box-shadow: #fff 0 1px 1px,rgba(0,0,0,0.05) 0 -2px 2px inset;
	ms-box-shadow: #fff 0 1px 1px,rgba(0,0,0,0.05) 0 -2px 2px inset;
	o-box-shadow: #fff 0 1px 1px,rgba(0,0,0,0.05) 0 -2px 2px inset;
	webkit-box-shadow: #fff 0 1px 1px,rgba(0,0,0,0.05) 0 -2px 2px inset;
	width: 100%;
}
.above-content .banner
{
	margin-bottom: 50px;
	padding-bottom: 35px;
}
.above-content .banner .container
{
	background: white;
	border: 1px solid;
	border-color: #ebeae5 #e0dfdc #dbdad7;
	border-top: none;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	margin: 0 auto;
	max-width: 280px;
	moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	ms-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	o-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
	padding: 25px 30px 30px 30px;
	position: relative;
	text-align: center;
	webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
}
.above-content .banner .container.narrow
{
	max-width: 230px;
}
.above-content .banner .container.wide
{
	max-width: 350px;
}
.above-content .banner .container .left-aligned
{
	text-align: left;
}
.above-content .banner .container .centered
{
	text-align: center;
}
.above-content .banner .container .inside .message h3
{
	margin-bottom: 7px;
}
.above-content .banner .container .inside .message p.caption
{
	color: #9a948d;
	font-size: 11px;
	line-height: 17px;
	margin-top: -10px;
}
.above-content .banner .container .close
{
	background: #faf9f4;
	border: 1px solid;
	border-color: #ebeae5 #e0dfdc #dbdad7;
	border-top: 0;
	bottom: -24px;
	color: #9a948d;
	font-size: 11px;
	height: 16px;
	left: 50%;
	margin-left: -30px;
	max-width: 60px;
	padding: 3px 10px;
	position: absolute;
	text-align: center;
}
.above-content .banner .container .close:hover
{
	color: #6b635b;
	cursor: pointer;
}
.above-content .banner .container .close:active
{
	background: #efede8;
}
.above-content .banner .container i.icon-warning,.above-content .banner .container .fields i.error,.fields .above-content .banner .container i.error
{
	color: #E0AF00;
	float: left;
	font-size: 50px;
}
.above-content .banner .container .icon-side
{
	margin-left: 80px;
}
.above-content .banner .container .text-open
{
	display: none;
}
.button-base,.button,.button-on-hover:hover,.button-on-hover
{
	background: transparent;
	border-radius: 3px;
	color: #6b635b;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: normal;
	margin: 0;
	moz-border-radius: 3px;
	ms-border-radius: 3px;
	o-border-radius: 3px;
	padding: 5px 9px;
	text-align: center;
	text-decoration: none;
	webkit-border-radius: 3px;
	white-space: nowrap;
}
.is-desktop .button-base,.is-desktop .button,.is-desktop .button-on-hover
{
	moz-transition: box-shadow 0.15s;
	ms-transition: box-shadow 0.15s;
	o-transition: box-shadow 0.15s;
	transition: box-shadow 0.15s;
	webkit-transition: box-shadow 0.15s;
}
.button,.button-on-hover:hover
{
	background: linear-gradient(top,#f6f5f0,#e1e0dc);
	background: -moz-linear-gradient(top,#f6f5f0,#e1e0dc);
	background: -ms-linear-gradient(top,#f6f5f0,#e1e0dc);
	background: -o-linear-gradient(top,#f6f5f0,#e1e0dc);
	background: -webkit-linear-gradient(top,#f6f5f0,#e1e0dc);
	background-color: #ebeae6;
	border: 1px solid #b2afa5;
	border-color: #e1e0dc #c9c8c1 #b2afa5;
	box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	color: #6b635b;
	moz-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	ms-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	o-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.43882);
	webkit-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
}
@media (min-width: 600px)
{
	.button:hover,.button:focus,.button-on-hover:hover:hover,.button-on-hover:hover:focus
	{
		background: linear-gradient(top,#f8f7f3,#e6e5e1);
		background: -moz-linear-gradient(top,#f8f7f3,#e6e5e1);
		background: -ms-linear-gradient(top,#f8f7f3,#e6e5e1);
		background: -o-linear-gradient(top,#f8f7f3,#e6e5e1);
		background: -webkit-linear-gradient(top,#f8f7f3,#e6e5e1);
	}
	.button:hover,.button-on-hover:hover:hover
	{
		box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		moz-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		ms-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		o-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		webkit-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	}
	.button:focus,.button-on-hover:hover:focus
	{
		box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		moz-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		ms-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		o-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		webkit-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	}
}
.button:active,.button.depressed,.toggleswitch .option input:checked ~ label.button,.toggleswitch .option input:checked ~ label.button.primary-if-on,.button-on-hover:hover:active,.button-on-hover:hover.depressed,.toggleswitch .option input:checked ~ label.button-on-hover:hover,.toggleswitch .option input:checked ~ label.button-on-hover.primary-if-on:hover
{
	border-color: #a29e92 #b2afa5 #b2afa5;
	box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(130,126,111,0.6) 0 1px 3px 0 inset,#fff 0 1px 0 0;
	moz-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(130,126,111,0.6) 0 1px 3px 0 inset,#fff 0 1px 0 0;
	ms-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(130,126,111,0.6) 0 1px 3px 0 inset,#fff 0 1px 0 0;
	o-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(130,126,111,0.6) 0 1px 3px 0 inset,#fff 0 1px 0 0;
	webkit-box-shadow: rgba(255,255,255,0) 0 0 1px 0,rgba(130,126,111,0.6) 0 1px 3px 0 inset,#fff 0 1px 0 0;
}
.button:before,.button-on-hover:hover:before
{
	color: #6b635b;
}
.button:focus,.button-on-hover:hover:focus
{
	outline: 0;
}
.button::-moz-focus-inner,.button-on-hover:hover::-moz-focus-inner
{
	border: none;
	padding: 0;
}
.button.tight,.button-on-hover:hover.tight
{
	padding: 3px 6px;
}
.button.small,.button-on-hover:hover.small
{
	font-size: 11px;
	padding: 3px 6px;
}
.button.naked,.button-on-hover.naked:hover,.is-desktop .popup.top.topbar-group-popup .inside .button-on-hover.group-popup-zero-create:hover,.is-desktop .popup.top.topbar-group-popup .inside .button.group-popup-zero-create:hover,.button-on-hover:hover.naked,.is-desktop .popup.top.topbar-group-popup .inside .button-on-hover.group-popup-zero-create:hover
{
	background-color: transparent;
	background-image: none;
	border: 1px solid #ebeae5;
}
.button.white,.button-on-hover:hover.white
{
	background-color: rgba(255,255,255,0.5);
	background-image: none;
	border: 1px solid #e7e6e3;
}
.button.invisible,.button-on-hover:hover.invisible
{
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
}
.button-on-hover
{
	border: 1px solid transparent;
}
.button-on-hover:hover
{
	border-color: #d9d7ce #c8c6c1 #B0AEA6;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.05),0px -1px 4px rgba(0,0,0,0.1) inset;
	moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.05),0px -1px 4px rgba(0,0,0,0.1) inset;
	ms-box-shadow: 0px 1px 3px rgba(0,0,0,0.05),0px -1px 4px rgba(0,0,0,0.1) inset;
	o-box-shadow: 0px 1px 3px rgba(0,0,0,0.05),0px -1px 4px rgba(0,0,0,0.1) inset;
	webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.05),0px -1px 4px rgba(0,0,0,0.1) inset;
}
.button-on-hover.small
{
	font-size: 11px;
	padding: 3px 6px;
}
.button-on-hover.naked.twitter:before,.send-to-twitter.checked label .button-on-hover.naked.tweet-button:before,.send-to-twitter.checked label .is-desktop .popup.top.topbar-group-popup .inside .button-on-hover.tweet-button.group-popup-zero-create:hover:before,.is-desktop .popup.top.topbar-group-popup .inside .send-to-twitter.checked label .button-on-hover.tweet-button.group-popup-zero-create:hover:before,.is-desktop .popup.top.topbar-group-popup .inside .button-on-hover.twitter.group-popup-zero-create:hover:before
{
	color: #31A0C5;
	content: "\e019";
	font-size: 13px;
	line-height: 13px;
	opacity: 1;
	padding-right: 3px;
	vertical-align: -1px;
}
.button.twitter,.send-to-twitter.checked label .button.tweet-button
{
	background: linear-gradient(top,#55bde1,#2c8fb1);
	background: -moz-linear-gradient(top,#55bde1,#2c8fb1);
	background: -ms-linear-gradient(top,#55bde1,#2c8fb1);
	background: -o-linear-gradient(top,#55bde1,#2c8fb1);
	background: -webkit-linear-gradient(top,#55bde1,#2c8fb1);
	background-color: #40a6c9;
	border: 1px solid #184d5f;
	border-color: #2c8fb1 #226e88 #184d5f;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
@media (min-width: 600px)
{
	.button.twitter:hover,.send-to-twitter.checked label .button.tweet-button:hover,.button.twitter:focus,.send-to-twitter.checked label .button.tweet-button:focus
	{
		background: linear-gradient(top,#59bfe2,#2e96b9);
		background: -moz-linear-gradient(top,#59bfe2,#2e96b9);
		background: -ms-linear-gradient(top,#59bfe2,#2e96b9);
		background: -o-linear-gradient(top,#59bfe2,#2e96b9);
		background: -webkit-linear-gradient(top,#59bfe2,#2e96b9);
	}
	.button.twitter:hover,.send-to-twitter.checked label .button.tweet-button:hover
	{
		box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		moz-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		ms-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		o-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		webkit-box-shadow: #fc0 0 0 1px 0px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	}
	.button.twitter:focus,.send-to-twitter.checked label .button.tweet-button:focus
	{
		box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		moz-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		ms-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		o-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
		webkit-box-shadow: #fc0 0 0 0px 1px,rgba(255,255,255,0) 0 0 0 1px inset,#fff 0 1px 0 0;
	}
}